<div class="mb-5">
  <app-progress-bar *ngIf="loading"></app-progress-bar>
  <div *ngIf="!loading" class="container">
      <div class="title">
          <h4>Listado de Productos</h4>
          <button type="button" class="btn btn-dark" routerLink="/add">Registrar Persona</button>
      </div>

      <div class="card mt-3">
        <div class="card-body">
          <div class="table-responsive">
            <table *ngIf="listProducts.length > 0" class="table table-striped">
              <thead class="table-dark">
                <tr>
                  <th scope="col">Nombre</th>
                  <th scope="col">Cedula</th>
                  <th scope="col">Telefono</th>
                  <th scope="col">Lugar</th>
                  <th scope="col">Discapacidad</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody >
                <tr *ngFor="let item of listProducts" class="table-active">
                  <td>{{ item.nombre }}</td>
                  <td>{{ item.cedula }}</td>
                  <td>{{ item.telefono}}</td>
                  <td>{{ item.lugar }}</td>
                  <td>{{ item.discapacidad }}</td>
                  <td>
                      <button routerLink="/edit/{{ item.id }}" type="button" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></button>
                      <button (click)="deleteProduct(item.id!)" type="button" class="btn btn-success btn-sm ms-2"><i class="far fa-check-square"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          
            <h5 *ngIf="listProducts.length == 0">No hay productos para mostrar</h5>
        </div>
      </div>
  </div>

</div>
